@import '../../Style/Utils/variables';

.sec_fiche-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;

    @media (max-width:$breakpoint-mobile) {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;       
    }
}

.div_location-container h1 {
    font-weight: 500;
    font-size: 30px;
    color: $primary-color;
    
    @media (max-width:$breakpoint-mobile) {
        text-align: left;       
    }
}

.div_location-container p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    flex-direction: unset;

    & h1 {
        @media (max-width:$breakpoint-mobile) {
            text-align: left;   
        }
    }
}

.div_left-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;

    @media (max-width:$breakpoint-mobile) {
        display: flex;
        flex-direction: column;
        margin-left: 0;       
    }
}

.div_right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width:$breakpoint-mobile) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 20px;
    }
}

.div_host-container {
    display: flex;
    align-items: center;
}

.div_collapse-fiche-container {
    display: flex;
    justify-content: space-between;
    width: 92%;

    @media (max-width:$breakpoint-mobile) {
        display: flex;
        flex-direction: column;   
        width: 90%;    
    }
}