@import '../../Style/Utils/variables';

.sec_carrousel-container {
    display: flex;
    position: relative;
    width: 92%;
    height: 300px;
    margin: auto;
    overflow: hidden;
}

.slides {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    border-radius: 25px;

    & img {
        object-fit: cover;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
}

.arrow-left {
    display: flex;
    position: absolute;
    top: 47%;
    right: 95%;
    width: 24px;
    height: 40px;
    z-index: 10;
    cursor: pointer;
}

.arrow-right {
    display: flex;
    position: absolute;
    top: 47%;
    right: 2%;
    width: 24px;
    height: 40px;
    z-index: 10;
    cursor: pointer;
}

.div_slide-count {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: white;
}