.div_banner img {
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    height: 120px;
    width: 95%;
    margin-top: 20px;
}

.p_banner-text {
    position: absolute;
    top: 28%;
    right: 35%;
}


